# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Working directories
/UVa/NC/
/UVa/Not\ enim/
/UVa/Problems/
/UVa/yc/
/Codechef/NC/
Codeforces/NC/
/Codemarshal/
/LOJ/NC/
/SPOJ/NC/
/HackerRank/NC/
/Timus/NC/
*/NC/

**/input.txt
**/output.txt
