# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Working directories
/media/Softwares/Programming/ACM/UVa/NC/
/media/Softwares/Programming/ACM/UVa/Not\ enim/
/media/Softwares/Programming/ACM/UVa/Problems/
/media/Softwares/Programming/ACM/UVa/yc/
